body, html {
font-family: Roboto;
}
#three {
position: fixed;
background: radial-gradient( circle, transparent 30%, black 150%), rgb(46, 39, 39);
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.loading {
color: white;
position: fixed;
top: 300px;
width: 100%;
text-align: center;
margin: auto;
font-size: 25pt;
opacity: 0.7;
z-index: 1;
}

.logo {
position: fixed;
top: 5px;
left: 5px;
font-family: 'Open Sans';
color: white;
font-size: 25px;
font-weight: bold;
opacity: 0.2;
}
.controls-help {
position: fixed;
bottom: 5px;
right: 5px;
opacity: 0.6;
color: white;
}
.controls-help span {
font-size: 6pt;
text-transform: uppercase;
width: 30px;
text-align: center;
display: inline-block;
margin-bottom: 5px;
}

.color-legend {
width: 256px;
position: fixed;
bottom: 0px;
left: 0px;
color: white;
font-size: 8pt;
}
.color-legend .color {
width: 1px;
height: 10px;
display: inline-block;
}
.color-legend .min {
float: left;
}
.color-legend .max {
float: right;
}
