#three {
position: fixed;
background: radial-gradient( circle, transparent 30%, black 150%), rgb(46, 39, 39);
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.loading {
color: white;
position: fixed;
top: 300px;
width: 100%;
text-align: center;
margin: auto;
font-size: 25pt;
opacity: 0.7;
z-index: 1;
}
